################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vs/packages
/vs/tests/packages
*.user
/build
/vs/.vs
