################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user

/vs/packages
/vs/tests/packages
/build
/vs/.vs
